In [6]:
name = input("Enter your name here: ")
age = int(input("enter your age here: "))
print(name)
print(age)
print(type(name))
print(type(age))

Enter your name here: Gaurav
enter your age here: 24
Gaurav
24
<class 'str'>
<class 'int'>

In [11]:
name = input("enter name: ")
age = int(input("enter age: "))
email = input("enter email: ")
ph_no = int(input("enter phone number: "))
height = float(input("enter height: "))
print(name,"\n", age, "\n",email, "\n",ph_no,"\n",height)

enter name: Asish
enter age: 22
enter email: ashish@gmail.com
enter phone number: 834942873
enter height: 6.1
Asish
 22
 ashish@gmail.com
 834942873
 6.1

# Type Conversion / Type Casting

In [13]:
a = 23
b = 24.5
c = (a+b)
print(c)

47.5

In [16]:
a = "5.6"
b = 3.3
a = float(a)
c = (a+b)
print(c)
d = 34
d = float(d)
print(d)

8.899999999999999
34.0

# Operators

"""Arithmetic Operators 
+(addition) 
-(subtraction) 
*(multiplication) 
/ (division) 
** (expontent/ power)
% (Modulus/modus) 
// (floor division)
"""

In [25]:
a = 23
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)
print(a//b)

26
20
69
7.666666666666667
12167
2
7

#Comparison Operators

In [30]:
a = 23
b = 23
print(a != b)

False