In [1]:
print('hello')
print("""hello
welcome to wscube tech""")

hello
hello
welcome to wscube tech

In [ ]:
score = 0
name = input("enter name: ")
age = int(input("enter name: "))

In [3]:
a = "3"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [7]:
a = 23
b = 56

print(a < b and b > a)

True

In [9]:
marks = 68

print(marks > 60 and marks < 80)

True

In [12]:
marks = 68

print( marks > 60 or marks > 80)

True

In [14]:
marks = 68
print(not(marks > 60))

False

In [17]:
a = 30
b = 40
print(not(a == b))

True

In [24]:
amount = 0
amount = 60
amount += 50
print(amount)
amount -= 50
print(amount)

110
60

In [28]:
a = "Hello"
print("e" not in a)

False

In [33]:
a = 30
b = 30
print(a is b)

False

# Conditional statements

In [42]:
name = input("Enter name: ")
ph_no = input("Enter ph_no: ")
seats = int(input("how many seats do you want? "))
amount = 250*seats
combo = input("do you want a combo of rs 300? ")
if combo == "yes":
    amount += 300
print(amount)

Enter name: Tanuj
Enter ph_no: 832723
how many seats do you want? 5
do you want a combo of rs 300? no
1250

In [41]:
marks = 80

if marks > 90:
    print("pass")

In [48]:
amount = 400
coupon = input("do you have a coupon: ")
if coupon == "yes":
    amount -=50
print(amount)

do you have a coupon: yes
350

In [52]:
num = 80

if num > 60:
    print("pass")

pass

In [ ]:
payment_type = input("what will be your payment mode? ")
if payment_type == "UPI":
    print("allow it")