In [3]:
import mysql.connector

conn = mysql.connector.connect(host = "localhost", 
                              username = "root", 
                              password = "12345") #for building the connection

cur = conn.cursor() #for activating the database

query = "create database school"  #pass your query

cur.execute(query) 
conn.commit() #to make changes in database

In [4]:
import mysql.connector

conn = mysql.connector.connect(host = "localhost", 
                              username = "root", 
                              password = "12345",
                              database = "school") #for building the connection

cur = conn.cursor() #for activating the database

query = """create table students (
roll_no int auto_increment,
student_name varchar(255),
city varchar(255),
primary key(roll_no) )"""  #pass your query

cur.execute(query) 
conn.commit() #to make changes in database

In [5]:
import mysql.connector

conn = mysql.connector.connect(host = "localhost", 
                              username = "root", 
                              password = "12345",
                              database = "company") #for building the connection

cur = conn.cursor() #for activating the database
name = input("enter name: ")
city = input("enter city name: ")

t = (name, city)

query = """insert into employees (Emp_name, city) values(%s,%s);"""  # %s is a placeholder

cur.execute(query,t) 
conn.commit() #to make changes in database

enter name: Rebecca
enter city name: jaipur

In [14]:
import mysql.connector

conn = mysql.connector.connect(host = "localhost", 
                              username = "root", 
                              password = "12345",
                              database = "company") #for building the connection

cur = conn.cursor() #for activating the database


query = """select * from employees;"""  # %s is a placeholder

data = cur.execute(query) 
data1 = cur.fetchall()

#print(data1)

# for i in data1:
#     print(i)
    
import pandas as pd

df = pd.DataFrame(data1, columns = ["EEID","Name","City"])
print(df)

   EEID     Name       City
0     2    Peter  New Delhi
1     3  Rebecca     jaipur