In [10]:
print("Hello")
a = "Hello"
print(len())

Hello

TypeError: len() takes exactly one argument (0 given)

In [9]:
def Greet():
    print("Hello Everyone!")

Greet()
Greet()
Greet()

Hello Everyone!
Hello Everyone!
Hello Everyone!

In [15]:
def add(x,y,z):
    print(x+y+z)
    
add(2,3,4)

9

In [16]:
def Greet():
    return ("Hello Everyone!")

Greet()

'Hello Everyone!'

In [41]:
import random as r #in-built module

coin = [1,2,3,4,5,6]
roll = r.choice(coin)
print(roll)


a = r.randint(200,300)
print(a)

2
231

In [46]:
from random import *

coin = [1,2,3,4,5,6]
roll = choice(coin)
print(roll)

a = randint(200,300)
print(a)

5
285

In [50]:
import math

a = 23.4
print(math.ceil(a))
print(math.floor(a))

24
23

In [59]:
import random as chotu #alias

a = chotu.randint(10,100)
print(a)

69

In [58]:
from random import *

a = randint(10,100)
b = [1,2,3,4,5,6]
roll = choice(b)
print(roll)
print(a)

6
86

In [60]:
from math import *

a = 2.23
print(ceil(a))

3

In [62]:
import pandas as pd

data = pd.read_excel("C:/Users/WsCube Tech/Desktop/Excel Course/datasets/ESD.xlsx")
df = pd.DataFrame(data)
print(df)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]