In [15]:
#pandas
import pandas as pd

data1 = pd.read_excel("practice_1.xlsx",sheet_name = 0)
data2 = pd.read_excel("practice_1.xlsx",sheet_name = 1)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(data1)
print(data2)
print(pd.concat([df1["First name"],df2["Product"],df2["Amount"]],axis = 1))

  First name  Last Name
0       ross  tribbiani
1     rachel       bing
2     monica      green
3       joey     geller
4   chandler     buffay
5    phoebe        bing
  Product  Amount
0   phone     560
1  tablet      66
2   phone     456
3  laptop     200
4   phone     160
5  laptop      80
  First name Product  Amount
0       ross   phone     560
1     rachel  tablet      66
2     monica   phone     456
3       joey  laptop     200
4   chandler   phone     160
5    phoebe   laptop      80

In [8]:
#pandas
import pandas as pd

data1 = pd.read_excel("practice_1.xlsx",sheet_name = 0)
data2 = pd.read_excel("practice_1.xlsx",sheet_name = 1)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(data1)
print(data2)
print(pd.merge(df1,df2, how = "cross"))

  First name  Last Name   Salary
0       ross  tribbiani      NaN
1     rachel       bing  40000.0
2     monica      green  25000.0
3       joey     geller  60000.0
4   chandler     buffay  33000.0
5    phoebe        bing  45000.0
  First name  Age  Gender       City
0       ross   23    male   new york
1     rachel   37  female     london
2       joey   33  female   canberra
3   chandler   41   male      sydney
4    phoebe    67    male  new delhi
5    gunther   31    male  hyderabad
   First name_x  Last Name   Salary First name_y  Age  Gender       City
0          ross  tribbiani      NaN         ross   23    male   new york
1          ross  tribbiani      NaN       rachel   37  female     london
2          ross  tribbiani      NaN         joey   33  female   canberra
3          ross  tribbiani      NaN     chandler   41   male      sydney
4          ross  tribbiani      NaN      phoebe    67    male  new delhi
5          ross  tribbiani      NaN      gunther   31    male  hyderabad
6        rachel       bing  40000.0         ross   23    male   new york
7        rachel       bing  40000.0       rachel   37  female     london
8        rachel       bing  40000.0         joey   33  female   canberra
9        rachel       bing  40000.0     chandler   41   male      sydney
10       rachel       bing  40000.0      phoebe    67    male  new delhi
11       rachel       bing  40000.0      gunther   31    male  hyderabad
12       monica      green  25000.0         ross   23    male   new york
13       monica      green  25000.0       rachel   37  female     london
14       monica      green  25000.0         joey   33  female   canberra
15       monica      green  25000.0     chandler   41   male      sydney
16       monica      green  25000.0      phoebe    67    male  new delhi
17       monica      green  25000.0      gunther   31    male  hyderabad
18         joey     geller  60000.0         ross   23    male   new york
19         joey     geller  60000.0       rachel   37  female     london
20         joey     geller  60000.0         joey   33  female   canberra
21         joey     geller  60000.0     chandler   41   male      sydney
22         joey     geller  60000.0      phoebe    67    male  new delhi
23         joey     geller  60000.0      gunther   31    male  hyderabad
24     chandler     buffay  33000.0         ross   23    male   new york
25     chandler     buffay  33000.0       rachel   37  female     london
26     chandler     buffay  33000.0         joey   33  female   canberra
27     chandler     buffay  33000.0     chandler   41   male      sydney
28     chandler     buffay  33000.0      phoebe    67    male  new delhi
29     chandler     buffay  33000.0      gunther   31    male  hyderabad
30      phoebe        bing  45000.0         ross   23    male   new york
31      phoebe        bing  45000.0       rachel   37  female     london
32      phoebe        bing  45000.0         joey   33  female   canberra
33      phoebe        bing  45000.0     chandler   41   male      sydney
34      phoebe        bing  45000.0      phoebe    67    male  new delhi
35      phoebe        bing  45000.0      gunther   31    male  hyderabad