In [4]:
a = 20
b = 40

temp = a
print("temp",temp)
a = b
print("a",a)
b = temp

print("b",b)

temp 20
a 40
b 20

In [5]:

# a,b = b,a
# print(a)
# print(b)




a = [10,20,30,40,50,60]
a[0],a[-1]=a[-1],a[0]
print(a)

[60, 20, 30, 40, 50, 10]

In [10]:
a = [3,4,5,2,4,5,6,3,3,5,6]
print(a.count(5))
count = 0

for i in a:
    if i == 5:
        count+=1
        
print(count)

3
3

In [16]:
a = [3,4,5,2,4,5,6,3,3,5,6,1,2,4]
a.sort()
a = list(set(a))
print(a[-2])

5

In [17]:
L = [2,5,-5,8,-67,98,-45,-2]
pos = []
neg = []

for i in L:
    if i >0:
        pos.append(i)
    else:
        neg.append(i)
print(pos)
print(neg)

[2, 5, 8, 98]
[-5, -67, -45, -2]

In [25]:
a = [3,4,5,2,4,5,6,3,3,5,6,1,2,4]
a.sort()
print(min(a))
print(max(a))
print(a[0])

1
6
1

In [32]:
a = [1,2,3,4,5,5]
sum = 0
for i in a:
    sum+=i
    
print(sum)

20

In [35]:
a = [1,2,3,4,5,5]
sum = 0
for i in a:
    sum+=i
    
print(sum)

l = len(a)
print(l)

print("average is",sum/l)

20
6
average is 3.3333333333333335

# Dictionary

In [52]:
emp1 = {"Name":"Shakti","Age":26,"Gender":"male","sex":"male"}
print(emp1)
print(type(emp1))
print(emp1["sex"])

{'Name': 'Shakti', 'Age': 26, 'Gender': 'male', 'sex': 'male'}
<class 'dict'>
male

In [58]:
emp1 = {"Name":"Shakti","Age":26,"Gender":"male"}
# for i in emp1.keys():
#     print(i)
# for i in emp1.values():
#     print(i)

for i,j in emp1.items():
    print(i,"-",j)

Name - Shakti
Age - 26
Gender - male

In [59]:
emp1 = {"Name":"Shakti","Age":26,"Gender":"male"}
emp1["Salary"] = 35000
print(emp1)

{'Name': 'Shakti', 'Age': 26, 'Gender': 'male', 'Salary': 35000}

In [60]:
emp1 = {"Name":"Shubham","Age":26,"Gender":"male"}
emp1["Name"] = "Shakti"
print(emp1)

{'Name': 'Shakti', 'Age': 26, 'Gender': 'male'}