In [9]:
import random
words = ["jupiter","telephone","apple","mango"]
a = random.choice(words)
j = random.sample(a,len(a))
#print(j)
word = ""
for i in j:
    word += word.join(i)

print(word)

pijerut

In [15]:
#Python is both interpreted and compiled language

print("Hello")
print(123)

print("""hello
hi 
bye""")

print("Hello")
print('it\'s going to rain today')

Hello
123
hello
hi
bye
Hello
it's going to rain today

# Variables

In [ ]:
evenNum = 34
hello = 34
print(Hello)

In [17]:
#User_Input

name = input("Enter name: ")
print(name)
age = int(input("Enter age: "))
print(age)
height = float(input("enter height: "))
print(height)

Enter name: ayushi
ayushi
Enter age: 25
25
enter height: 5.6
5.6

In [18]:
print(4>8)

False

In [21]:
exp = eval(input("enter a matematical expression: "))
print(exp)

enter a matematical expression: 2-1
1

In [ ]:
#Operators
#Arithmetic Operators - (+, -, *, /, %, **, //)
#Assignment Operators - (=, +=, -=, *=)
#Logical OPerators - (and, or, not)
#Comparison OPerators - (>, < , >=, <=, ==, !=)
#Membership OPerators - (in, not in)
#Identity OPerators - (is, is not)

In [24]:
a = 34
b = 34

print(a is b)

True

In [32]:
healthy = ["apple","kiwi","tomato"]

print("brocolli" in healthy)


a = "banana"
print("b" in a)

False
True

In [39]:
#Conditional Statements

#if 
#if-else
#if-elif-else
#nested-if
#short_hand-if
#short-hand-if-else

marks = 90

if marks < 80:
    print("joote padenge")
elif 
else:
    print("trip par chal jana")

trip par chal jana

In [47]:
marks = int(input("enter marks: "))

if marks > 80:
    print("pass")
    if marks >= 90:
        print("A+")
    else:
        print("A")
else:
    print("B")

enter marks: 88
pass
A

In [51]:
marks = 95
if marks > 90:
    print('Pass')
    
if marks > 90 : print("Pass")

Pass
Pass

In [ ]:
marks = 95
if marks > 90:
    print('Pass')
else:
    print('Fail')

print("Pass") if marks > 90 else print("Fail")

In [60]:
#Loops

for i in range(100, 50, -5):
    print(i)

100
95
90
85
80
75
70
65
60
55

In [54]:
a = "Hello"
for i in a:
    print(i)

H
e
l
l
o

In [64]:
for i in range(1,51):
    if i % 5 == 0 and i % 9 == 0:
        print(i)

45

In [67]:
n = 0
while n < 10:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9

In [78]:
a = [23,4,5,6,8,9,2]
b = []

#[]
#multiple datatypes
#mutable
#ordered
#comma separated

#strings
"""
+ve indexing - 0 - left to right
-ve indexing - right to left - (-1)

slicing
a = Hello

print(a[0:4])



"""
a = "Hello"

print(a[:1].lower()+a[-1:].upper())

hO

In [ ]:
#append(end) , pop(index), remove(Value), insert(), len, count, 
#replace , sort

In [81]:
#Tuples
#unmutable
#ordered
#multiple datatype
#no brackets mandatory

#len, count, max, min, index, sort

#typecasting/type conversion
a = (3,4,5,6)
a = list(a)
a.append(7)
print(a)
a = tuple(a)
print(a)

[3, 4, 5, 6, 7]
(3, 4, 5, 6, 7)

In [ ]:
#Set

#Mutable
#un-ordered
#Multiple datatype
#unique values
#{}
a = set()

#intersection (common)
#union (all the values from both the sets)
#difference (all the values in setA but not in setB)
#Symmetric difference (all the values except common values)

In [86]:
#Dictionaries

#Mutable
#multiple datatypes
#Key:value
#, between complete pair
a = {} 
a = {"Name":"ayushi", "age":25}
a["gender"] = "Female"
print(a)

{'Name': 'ayushi', 'age': 25, 'gender': 'Female'}

In [89]:
#Functions
"""
in-built - print, len, set, count, append
user defined
"""

def mul(a,b):
    print(a*b)

mul(2,3)
mul(3,4)
mul(4,5)

6
12
20

In [90]:
a = "hello"
print(len(a))

5

In [ ]:
import random
from random import *
from random import shuffle
import random as r #alias

module = 1 python file
library = many modules

In [91]:
import random

a = random.randint(1,100)

num = int(input('enter a number here: '))
print(a)
print(num)
print(a+num)

enter a number here: 23
13
23
36

In [ ]:
import random 
a = ["r","p","s"]
roll = random.choice(a)

choice = input(" r p s ?")

if a == "r" and choice == "p":
    computer's choice is, rock
    user's choice is, paper
    print("user wins")