In [13]:
import pandas as pd
import numpy as np

data = pd.read_excel("expense4.xlsx", "emp_data")

df = pd.DataFrame(data)
arr = np.array([df["Salary"]])
print(np.nanmean(arr))

df["Salary"] = df["Salary"].fillna(method = "bfill")
print(df)
print(df["Salary"].mean())

87583.14285714286
     EEID           Name            Job Title    Salary
0  E04105  Theodore Dinh  Technical Architect   99975.0
1  E01639      Austin Vo          Sr. Analyst   50994.0
2  E00644   Joshua Gupta                  NaN   50994.0
3  E04332    Luke Martin              Analyst   41336.0
4  E04533            NaN              Manager  113527.0
5  E00530      Eli Jones              Manager  105086.0
6  E03496    Robert Yang                  NaN   97078.0
7  E01639      Austin Vo          Sr. Analyst  105086.0
8  E04332            NaN              Analyst  105086.0
9  E04533  Easton Bailey              Manager       NaN
85462.44444444444